@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro&display=swap');

body {
    background-image: url('https://images.pexels.com/photos/448748/pexels-photo-448748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    left: 0;
    width: 100%;
    position: fixed;
    padding: 15px 50px;
    z-index: 1;
}

.header-bg {
    background-color:  #03256c;
    backdrop-filter: blur(20px);
}

.section-2-td {
    width: 26%;
    vertical-align: top;
}

.section-2-btn {
    background-color: #06BEE1;
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 50px;
}

.section-2-btn:hover {
    background-color: #2541B2;
    color: white;
}

.section-3-bg {
    background-image: url('https://cdn.pixabay.com/photo/2017/09/16/16/05/sea-2755901_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding: 20vh;
}

.icon {
    margin-top: 150px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 100%;
    padding: 30px;
    width: fit-content;
    backdrop-filter: blur(20px);
}

.svg {
    width: 50px;
    height: 50px;
}

.col-img {
    padding: 0;
}

.col-text {
    padding: 80px;
}

.row-1 {
    background-color: #1768AC;
    color: white;
}

.row-2 {
    background-color: #06BEE1;
}

html, body {
    height: 100%;
}
  
.full-height {
    height: 100%;
}

.title {
    font-family: 'Playfair Display', serif;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#btn {
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.429);
    backdrop-filter: blur(20px);
}

#btn:hover {
    color: white;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(20px);
}

.row button {
    width: 150px;
}

.section-margin-top {
    margin-top: 140px;
    margin-bottom: 50px;
}

h4 {
    margin-top: 100px;
    margin-bottom: 15px;
}

.img-section-3 {
    border-radius: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.padding-section-4 {
    width: 50%;
    padding: 80px;
}

.td-section-5 {
    width: 50%;
}

table {
    width: 100%;
}

input {
    margin: 15px;
    margin-left: 40px;
    color: black;
    background-color: rgb(221, 221, 221);
    border-color: black;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
}

.text-area {
    width: 300px;
    height: 100px;
    vertical-align: top;
}

.button {
    width: 100px;
    height: fit-content;
    border: 0;
    border-radius: 8px;
    padding: 5px 0;
}

iframe {
    width: 100%;
}

footer {
    padding: 20px 0;
    background-color: #d4d4d4;
}

.footer-a {
    text-align: right;
    color: black;
    text-decoration: none;
    padding-left: 20px;
}