* {
    box-sizing:border-box;
    /* padding: 5px; */
}

@font-face {
    font-family: 'Gama Serif';
    src: url('Gama-Serif-Regular.otf');
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url('https://ugm.ac.id/video/2021gedung.jpeg');
    background-size: 100%;
    background-position: 50%;
    /* background-repeat: no-repeat; */
}

header {
    font-family: Gama Serif;
    background-color: #54918fa2;
    padding: 15px;
    text-align: left;
    font-size: 15px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* box-shadow: 10px grey; */
    backdrop-filter: blur(50px);
    
}

nav.atas {
    /* float: inline-start; */
    width: 100%;
    height: 60px;
    background: #487b79a8;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0%;
    margin-bottom: 0%;
    backdrop-filter: blur(50px);
}

header a {
    /* background: #54918F; */
    font-family: Arial;
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 100px;
}

header a:hover {
    color: yellow;
}

nav.atas a {
    /* background: #54918F; */
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding-left: 5px;
    
}

nav {
    float: left;
    overflow-y: scroll;
    width: 20%;
    height: 300px;
    background: #487b797b;
    padding: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 1%;
    border-radius: 8px;
    backdrop-filter: blur(50px);
}

nav a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-right: 3%;
}

nav a:hover {
    color: yellow;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    text-align: left;
    overflow-y: scroll;
    padding: 20px;
    width: 79%;
    background-color: #ffffff7a;
    height: 500px;
    border-radius: 8px;
    margin-top: 3%;
    margin-bottom: 3%;
    backdrop-filter: blur(50px);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
  background: #ffffff00;
}
  
::-webkit-scrollbar-thumb {
  background: #3d3d3d50;
  backdrop-filter: blur(50px);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background: #487b797b;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

