* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

header {
    font-size: 30px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    color: black;
    z-index: 1;
    backdrop-filter: blur(100px);
}

.parent-container {
    display: flex;
    justify-content: space-between;
  }
  
.left-content {
  text-align: left;
  padding: 20px;
  padding-left: 29px;
}
  
.right-content {
  text-align: right;
  padding-right: 20px;
  padding-top: 30px;
}

.right-content a {
    font-family: Helvetica;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding-right: 15px;
}
  

a:hover {
    color: rgb(255, 255, 255);
}

nav {
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    width: 18%;
    height: 300px;
    padding: 20px;
    margin-top: 8%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.742);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding-bottom: 10px;
}

.article1 {
    overflow-y: auto;
    float: left;
    width: 78%;
    height: 300px;
    padding: 20px;
    margin-top: 8%;
    margin-right: 2%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff8b;
    backdrop-filter: blur(20px);
}

.article2 {
    overflow-y: auto;
    float: left;
    width: 85%;
    height: 150px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 15%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    background-color: #ffffff8b;
    backdrop-filter: blur(20px);
}

.article3 {
    text-align: left;
    font-size: 31px;
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    width: 11%;
    height: 150px;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0000008c;
    color: white;
    backdrop-filter: blur(20px);
}

::-webkit-scrollbar {
    width: 0px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(50px);
}